<!-- products.component.html -->
<!-- <div class="container mt-5">
    <div class="row">
      @for (product of products; track $index) {
        <div  class="col-md-4 mb-4">
            <div class="card h-100">
              <img [src]="product.image" class="card-img-top w-50" alt="{{product.title }}">
              <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <p class="card-text">{{product.description}}</p>
              </div>
              
            </div>
          </div>
      }
    </div>
  </div>
   -->



 
   
    
<div class="main">
    <div class="container row gy-2">
          
      @for (product of products; track $index) {
        <div class="col-md-4 ">
            <div class="card-container" id="cardContainer">
               
                
                    <div class="card" id="card">
                        <div class="card-content">
                            <img [src]="product.image" alt="{{product.title }}" width="350" height="300">
                            <div>
                                <h2>{{product.title}}</h2>
                                <p>{{product.description.split(" ").slice(0, 10).join(" ") + "..."}}</p>
                                
                            </div>
                        </div>
                        <div class="glow"></div>
                    </div>
                </div>
             
            </div>
      }
            
    </div>
</div>